<ul>
  <% if(currentUser && currentUser.isPremium()) { %>
    <li><a href="/kindergarten/process">Process</a></li>
    <li><a href="/kindergarten/applicationform">Application Form</a></li>
  <% } %>
    <li><a href="/kindergarten/profile">Update Profile</a></li>
</ul>