<% include _header %>

<form action="/login" method="post">
  <input name="username" type="text" placeholder="Email Address" required autofocus>
  <br>
  <input name="password" type="password" placeholder="Password" required>
  <br>
  <input type="submit" value="Log in">
</form>

<% include _footer %>